@media (min-width: 992px) {
  /*header*/
  .slicknav_menu {
    /*display: none;*/ }
  header #nav-big {
    /*display: block;*/ }
  /*contact*/
  #contact .row-container {
    position: relative; }
  #contact .contact-message {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  #process .content-wrapper ul {
    display: block;
    padding-left: 140px; }
    #process .content-wrapper ul li {
      cursor: default;
      font-weight: 100;
      margin-bottom: 30px; }
    #process .content-wrapper ul li:hover {
      text-decoration: underline; }
  #process .active {
    font-weight: 500 !important; }
  #process .inactive {
    font-weight: 100; } }
