@media (min-width: 992px) {
	/*header*/
	.slicknav_menu {
			/*display: none;*/
		}
	header {
		#nav-big {
			/*display: block;*/
		}

	}
	/*contact*/
	#contact {
		.row-container {
			position: relative;
			
		}

		.contact-message {
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    -webkit-transform: translateY(-50%);
			    transform: translateY(-50%);	   
		}
	}
	#process {

		.content-wrapper {
			ul {
				display: block;
				padding-left: 140px;
			    
				li {
					cursor: default;
					font-weight: 100;
					margin-bottom: 30px;
				}
				li:hover {
					text-decoration: underline;
				}
			}
		}
		.active {
			font-weight: 500 !important;
		}
		.inactive {
			font-weight: 100;
		}
	}
}