/* oswald-200 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/oswald-v16-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
       url('../fonts/oswald-v16-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-v16-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-v16-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/oswald-v16-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-v16-latin-200.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Oswald Regular'), local('Oswald-Regular'),
       url('../fonts/oswald-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/oswald-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-v16-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-500 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswald-v16-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Oswald Medium'), local('Oswald-Medium'),
       url('../fonts/oswald-v16-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-v16-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-v16-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/oswald-v16-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-v16-latin-500.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/montserrat-v12-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
       url('../fonts/montserrat-v12-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('../fonts/montserrat-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
@import "variables";
@media (min-width: 0px) {
	body {
		background-color: #fff;
	}
	/*Styling the fonts and color reference page*/
	#var-wrap {
		div {
			min-height: 100px;
		}
		.primary {
			background-color: $primary;
			h5 {
				text-align: center;
				color: #fff;
			}
		}
		.primary-light {
			background-color: $primary_light;
			h5 {
				text-align: center;
				color: #fff;
			}
		}
		.secondary {
			background-color: $secondary;
			h5 {
				text-align: center;
				color: #fff;
			}
		}
		.secondary-light {
			background-color: $secondary_light;
			h5 {
				text-align: center;
				color: #fff;
			}
		}
		.div-background-blue {
			background-color: $div_background_blue;
			h5:last-child {
				text-align: center;
				color: #fff;
			}
		}
		.paragraph-blue {
			background-color: $paragraph_blue;
			h5 {
				text-align: center;
				color: #fff;
			}
		}
		.green-loud {
			background-color: $green_loud;
			h5 {
				text-align: center;
				color: #fff;
			}
		}

	}
	/*Adjust Container fluid in bootstrap*/
	.container-fluid {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	/*limit the width of the content for large screens and give a margin*/
	.content-wrapper {
		max-width: 1300px;
		margin: 0 15px 0 15px;
	}
	/*section headings*/
	.section-heading {
		text-align: center;
		padding: 20px 0 20px 0;
		margin-top: 0;
	}
	/*CTA Get Started*/
	.get-started-wrap {
		text-align: center;
		padding: 15px 0 50px 0;	
	}
	.scroll-to-contact {
		text-align: center;
    	background-color: $secondary;
    	color: #fff;
    	padding: 15px 25px 15px 25px;
    	border-radius: 4px;
    	border: none;
	}
	/*header styles*/

	/*banner section styles*/
	#main-cta {
		.banner {
			min-height: 425px;
		    border-top: 4px solid rgba(220,126,15,1);
		    border-bottom: 4px solid rgba(220,126,15,1);
		    background-size: cover;
		    background-position: center;
		    background-repeat: no-repeat;
		}

	}
	
	/*How we serve section*/
	#how-we-serve {
		background-color: $primary_opacity;
		.white-bg-svg-art {
			background-color: #fff;
			min-height: 100px;
			width: 100px;
		}

	}
	/*Work Done*/
	#work-done {

	}
	/*Process*/
	#process {
		background-color: $div_background_blue;
		color: #fff;
	}
	/*who-we-are*/
	#who-we-are {

		.who-we-are-pic-first {
			display: flex;
			justify-content: space-around;
			div {
				margin-bottom: 20px;
				p {
					max-width: 300px;
				}
			}
		}
		.who-we-are-pic-last {
			display: flex;
			justify-content: space-around;
			div {
				margin-bottom: 20px;
				p {
					max-width: 300px;
				}
			}

			
		}
	}

	/*pricing*/
	#pricing {
		background-color: $div_background_blue;
		color: #fff;
		.circle-wrap {
			margin-bottom: 45px;
			.circle {
				height: 400px;
				width: 400px;
				min-height: 400px;
				border-radius: 50%;
				background-color: #fff;
				position: relative;
				margin: 0 auto 20px auto;

				img {
					position: absolute;
				    top: 50%;
				    left: 50%;
				    transform: translate(-50%, -50%);
				}

			}
			p, h4 {
					text-align: center;
				}
		}
	}

	/*contact*/
	#contact {
		margin-bottom: 25px;
		h3:first-child {
			color: $primary;
		}
		p {
			font-size: 25px;
			max-width: 375px;
			margin: 15px auto 15px auto;
		}
		.CAT {
			background-color: $green_loud;
		    padding: 50px;
		    max-width: 340px;
		    margin: 0 auto;
		}
		.visuallyhidden {
		    border: 0;
		    clip: rect(0 0 0 0);
		    height: 1px;
		    margin: -1px;
		    overflow: hidden;
		    padding: 0;
		    position: absolute;
		    width: 1px;
		}
		.form-group > input {
		    margin-bottom: 20px;
		    min-height: 45px;
		}
		.form-group > textarea {
		    margin-bottom: 20px;
		    min-height: 150px;
		}
		.submit {
		    width: 100%;
		    background-color: $secondary;
		    border: none;
		    padding: 15px 0px;
		    color: #fff;
		    font-size: 18px;
		    border-radius: 4px;
		}

	}
	/*footer*/
	#footer {
		background-color: $div_background_blue;
		color: #fff;
		text-align: center;
		overflow-y: hidden; 
	}	
}
